.sidechat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sidechat:hover {
  background-color: #ebebeb;
}
.sidechat__info > h2 {
  font-size: 16px;
  margin: 0 0 8px 0;
}
.sidechat__info > p {
  margin: 0;
}
.sidechat__info {
  margin-left: 15px;
}
.sidechat__avatar {
  align-self: center;
}
